body {
    justify-items: center;
}

.contenedor {
    background-color: #ffe6e6;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.cards {
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid #ffabab;
    height: 10vh;
    width: 50vh;
    padding: 2vh 5vh 3vh 2vh;
    text-align: left;
}

.bg {
    margin-top: 5vh;
    width: 16%;
    height: 43vh;
    background: #ffe6e6;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.formulario {
    background: #ffffff;
    border: 2px solid #000000;
    width: 30vh;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.renglones {
    border-radius: 20px;
    background-color: #b0d7ff;
    width: 26vh;
    margin: 1vh 1vh 1vh 1vh;
    height: 3vh;
    padding-left: 10px;
    align-content: center;
}

.contenedor-enviar {
    margin-top: 3vh;
    background: #ffe6e6;
    padding: 1vh;
}

button {
    background-color: rgba(0, 102, 255, 0.78);
    color: white;
}
