body {
  background-color: black;
  color: white;
}
h2 {
  font-family: "Oswald";
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.tarjeta {
  width: 300px;
  height: 400px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.tarjeta-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%) brightness(0.8);
  transition: 0.4s filter ease-out;
}

/* Imagen para la Tarjeta 1 */
.tarjeta:nth-child(1) .tarjeta-fondo {
  background-image: url("https://picsum.photos/id/1018/600/800");
}
/* Imagen para la Tarjeta 2 */
.tarjeta:nth-child(2) .tarjeta-fondo {
  background-image: url("https://picsum.photos/id/1040/600/800");
}
/* Imagen para la Tarjeta 3 */
.tarjeta:nth-child(3) .tarjeta-fondo {
  background-image: url("https://picsum.photos/id/10/600/800");
}
/*la "cortinilla"*/
.tarjeta-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%; /*para que tape la tarjeta */
  background-color: rgba(20, 20, 20, 0.85);
  transition: height cubic-bezier(0.77, 0, 0.175, 1);

  height: 100%; /*cortina bajada*/
  justify-content: center;
  align-content: center;
  transition: 1s;
}
/*texto oculto*/
.tarjeta-descripcion {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s;
  font-family: "Roboto";
}
/*borde*/
.tarjeta-borde-animado {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 2px solid white;
  opacity: 0;
  transition: opacity 0.4s ease top 0.4s ease left 0.4s ease right 0.4s ease
    bottom 0.4s ease;
}

/*HOVER*/

/* Cortinilla */
.tarjeta:hover .tarjeta-overlay {
  height: 0%; /*La cortinilla se "subirá"*/
}

/*Fondo*/
.tarjeta:hover .tarjeta-fondo {
  filter: grayscale(0%) brightness(1); /*El color aparecerá*/
}
/*Descripcion*/
.tarjeta:hover .tarjeta-descripcion {
  opacity: 1; /*Aparecerá después del retraso*/
}
/*Borde*/
.tarjeta:hover .tarjeta-borde-animado {
  opacity: 1;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; /*El borde "se encoge"*/
}

.tarjeta:hover .tarjeta-titulo {
  opacity: 0;
}
