body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(248, 121, 121);
}

div{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    font-weight: bold;
}

img{
    border-radius: 10px;
    width: 400px;
    height: 250px;
}

img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.grayscale img{
    filter: grayscale(100%);
}

.grayscale img:hover{
    filter: none;
}

.blur img{
    filter: blur(5px);
}

.blur img:hover{
    filter: none;
}

.sepia img{
    filter: sepia(100%);
}

.sepia img:hover{
    filter: none;
}

.saturate img{
    filter: saturate(200%);
}

.saturate img:hover{
    filter: none;
}

.invert img{
    filter: invert(100%);
}

.invert img:hover{
    filter: none;
}

.darkContrast img{
    filter: invert(100%) contrast(200%);
}

.darkContrast img:hover{
    filter: none;
}

.hueRotate img{
    filter: invert(100%) hue-rotate(180deg);
}

.hueRotate img:hover{
    filter: none;
}

.dropShadow img{
    filter: invert(100%) drop-shadow(0 0 10px rgb(248, 121, 121));
}

.dropShadow img:hover{
    filter: none;
}