* {
    box-sizing: border-box;
    background-color: #FFFBF0;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 2rem;
    color: #570000;
}

/* seccion */
section {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
}

/* ====== TÃTULO PRINCIPAL ====== */
h3 {
    color: #570000;
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

/* ====== FORMULARIO ====== */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

/* ====== FIELDSETS CIRCULARES ====== */
fieldset {
    background-color: #F28705;
    border: none;
    border-radius: 50%;
    width: 55vh;
    height: 55vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2.5rem 2.5rem 2rem 2.5rem;
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.25);
    position: relative;
}

/* titulo de los circulos */
legend {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: #570000;
    width: 100%;
    line-height: 1.2;
    padding: 0 0.5rem;
}

/* formulario */
label {
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 0.8rem;
    display: block;
    margin-top: 0.3rem;
    line-height: 1.2;
}

input,
select,
textarea {
    width: 90%;
    max-width: 230px;
    border: none;
    border-radius: 0.4rem;
    padding: 0.35rem 0.5rem;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    color: #570000;
    background-color: #FFFBF0;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 0.4rem;
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"] {
    padding: 0.3rem 0.4rem;
}

textarea {
    resize: none;
    min-height: 3rem;
    max-height: 4.5rem;
    padding: 0.4rem;
}

/* Contenedor de divs dentro de fieldset */
fieldset > div {
    background-color: transparent;
    width: 100%;
    margin-bottom: 0.2rem;
}

/* boton */
button {
    background-color: #F28705;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 100%;
    width: 30%;
    height: 50vh;
}

button:hover {
    background-color: #FFD361;
    color: #570000;
}

/* media */
@media (max-width: 795px) {
    fieldset {
        width: 45vh;
        height: 45vh;
        padding: 4.5rem 1.8rem 2rem 1.8rem;
    }

    legend {
        font-size: 1.1rem;
        top: 1.3rem;
    }
    
    label {
        font-size: 0.8rem;
    }
    
    input, select, textarea {
        font-size: 0.8rem;
    }
}

