body{
    background-color: rgb(197, 197, 197);
    
}

.caja-gris-fijo{
    height: 100px;
    width: 1960px;
    background-color: rgb(46, 46, 58);
    position: fixed;
    top: 820px;
    left: 0px;
    z-index: 0;
}

.caja-blanca{
    height: 500px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    left: 450px;
    z-index: 10;
}

.caja-naranja{
    height: 400px;
    width: 900px;
    background-color: rgba(255, 165, 0, 0.50);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
}

.caja-rosa{
    border: 2px dashed purple;
    border-collapse: collapse;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 192, 203);
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 30;
}

.caja-azul{
    border: 1px solid blue;
    height: 499px;
    width: 149px;
    background-color: rgba(0, 166, 255, 0.5);
    position: absolute;
    left: 850px;
    z-index: 40;
}

.caja-roja{
    text-align: center;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    background-color: rgba(255, 0, 0);
    color: white;
    position: absolute;
    left: 720px;
    top: 10px;
    z-index: 40;
}

.caja-gris-base{
    border-top: 1px solid red;
    height: 100px;
    width: 1000px;
    background-color: rgb(46, 46, 58);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

