* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem;
    color: #570000;
}
/* seccion */
section {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}
/* titulo */
h3 {
    color: #570000;
    font-size: 2.2rem;
    margin-bottom: 3rem;
}
/* formulario */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

fieldset {
    background-color: #F28705;
    border: none;
    border-radius: 50%;
    width: 55vh;
    height: 55vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
}

legend {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.1rem;
    color: #570000;
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
}

label {
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 0.8rem;
}

input, select, textarea {
    width: 90%;
    border: none;
    border-radius: 0.4rem;
    padding: 0.35rem 0.5rem;
    margin-top: 0.25rem;
    background-color: #FFFBF0;
}

.fieldset-options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
}

.fieldset-options label {
    margin: 0;
}

input[type="radio"], 
input[type="checkbox"] {
    width: auto;
    margin: 0;
}


button {
    background-color: #F28705;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

button:hover {
    background-color: #FFD361;
    color: #570000;
}
/* media */
@media (max-width: 795px) {
    fieldset {
        width: 45vw;
        height: 45vh;
        padding: 1.5rem;
    }
    
    button {
        width: 150px;
        height: 150px;
    }
}