/* MOVIL */

@media (max-width: 767px) {
    body {
        background: linear-gradient(to right, #ffcccc, #ffe6e6);
        color: white;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .tarjeta {
        justify-content: center;
        width: 100%;
        border-radius: 1em;
        box-shadow: 0 4px 8px rgba(195, 195, 195, 0.2);
        flex-direction: column;
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tarjeta-imagen img {
        width: 100%;
        height: 40vh;
        border-radius: 1em 1em 0 0;
        object-fit: cover;
    }
    .tarjeta-contenido {
        padding: 1em 1.5em 2em 1.5em;
        text-align: center;
    }

    .tarjeta-contenido h2 {
        margin-top: 1em;
        font-size: 1.7em;
        font-weight: bold;

    }

    .tarjeta-contenido p {
        margin-bottom: 2em;
        line-height: 1.5;
        font-size: 1.1em;
    }

    .boton {
        background: linear-gradient(to right, #0080FFFF, #015ab5);
        color: #ffffff;
        font-size: 1em;
        padding: 0.9em 1.9em 0.9em 1.9em;
        border-radius: 3em;
        text-decoration: none;
        display: inline-block;
    }
}


/* TABLET */
@media (min-width: 768px) {
    body {
        background: linear-gradient(to right, #99ffcc, #e6fff5);
        color: white;
        display: flex;
        min-height: 100vh;
        max-width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .tarjeta {
        width: 80vh;
        box-shadow: 0 4px 8px 0 rgba(195, 195, 195, 0.2);
        border-radius: 1em;
        display: flex;
        flex-direction: row;
        background-color: white;
        color: black;
        height: 37vh;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
    }

    .tarjeta-imagen img {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        width: 30vh;
        height: 100%;
        object-fit: cover;
    }

    .boton {
        color: #ffffff;
        background: linear-gradient(to right, #0080FFFF, #015ab5);
        font-size: 1.2em;
        padding: 0.8em 9em 0.8em 1.5em;
        font-weight: bold;
        border-radius: 3em;
        text-decoration: none;
        text-align: center;
        margin-bottom: 1em;
    }

    .tarjeta-contenido {
        text-align: left;
        margin-left: 2.5em;
        padding-right: 2.5em;
        align-items: center;
    }

    .tarjeta-contenido h2 {
        margin-top: 1em;
        font-size: 1.7em;
        font-weight: bold;

    }

    .tarjeta-contenido p {
        margin-bottom: 2em;
        line-height: 1.5;
        font-size: 1.1em;
    }
}


/* Escritorio */

@media (min-width: 1024px) {
    body {
        background: linear-gradient(to right, #99ffcc, #e6fff5);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 98vh;
    }

    .tarjeta {
        justify-items: center;
        align-content: center;
        width: 90vh;
        height: 40vh;
        box-shadow: 0 4px 8px 0 rgba(195, 195, 195, 0.2);
        border-radius: 1em;
        display: flex;
        flex-direction: row;
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tarjeta:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    }

    .tarjeta img {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        width: 30vh;
        height: 100%;
    }

    .boton {
        color: #ffffff;
        background: linear-gradient(to right, #0080FFFF, #015ab5);
        font-size: 1.2em;
        padding: 0.8em 15em 0.8em 1.5em;
        font-weight: bold;
        border-radius: 3em;
        text-decoration: none;
        text-align: center;
        margin-bottom: 1em;
    }

    .boton:hover {
        background: linear-gradient(to right, #606060, #000000);
    }

    .tarjeta-contenido {
        text-align: left;
        margin-left: 2.5em;
        padding-right: 2.5em;
    }

    .tarjeta-contenido h2 {
        margin-top: 1.5em;
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 1.5em;
    }

    .tarjeta-contenido p {
        margin-bottom: 3em;
        line-height: 1.5;
        font-size: 1.1em;
    }
}
